<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="game">
            <h2><span jhiTranslate="guessMyCategoryApp.game.detail.title">Game</span> {{ game.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guessMyCategoryApp.game.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ game.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.game.code">Code</span></dt>
                <dd>
                    <span>{{ game.code }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.game.maxUser">Max User</span></dt>
                <dd>
                    <span>{{ game.maxUser }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.game.maxVideoTime">Max Video Time</span></dt>
                <dd>
                    <span>{{ game.maxVideoTime }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/game', game.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
