<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="player">
            <h2><span jhiTranslate="guessMyCategoryApp.player.detail.title">Player</span> {{ player.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guessMyCategoryApp.player.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ player.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.player.name">Name</span></dt>
                <dd>
                    <span>{{ player.name }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.player.img">Img</span></dt>
                <dd>
                    <span>{{ player.img }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.player.score">Score</span></dt>
                <dd>
                    <div *ngIf="player.score">
                        <a [routerLink]="['/score', player.score?.id, 'view']">{{ player.score?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.player.party">Party</span></dt>
                <dd>
                    <div *ngIf="player.party">
                        <a [routerLink]="['/party', player.party?.id, 'view']">{{ player.party?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player', player.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
