<div>
    <h2 id="page-heading">
        <span jhiTranslate="guessMyCategoryApp.actor.home.title">Actors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-actor" [routerLink]="['/actor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="guessMyCategoryApp.actor.home.createLabel">
            Create a new Actor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="actors?.length === 0">
        <span jhiTranslate="guessMyCategoryApp.actor.home.notFound">No actors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="actors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.actor.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.actor.popularity">Popularity</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.actor.contry">Contry</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.actor.link">Link</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.actor.images">Images</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actor of actors ;trackBy: trackId">
                    <td><a [routerLink]="['/actor', actor.id, 'view']">{{ actor.id }}</a></td>
                    <td>{{ actor.name }}</td>
                    <td>{{ actor.popularity }}</td>
                    <td>{{ actor.contry }}</td>
                    <td>{{ actor.link }}</td>
                    <td>
                        <div *ngIf="actor.images">
                            <a [routerLink]="['/optional-image', actor.images?.id, 'view']" >{{ actor.images?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/actor', actor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/actor', actor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(actor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
