<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span jhiTranslate="guessMyCategoryApp.answer.detail.title">Answer</span> {{ answer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guessMyCategoryApp.answer.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ answer.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.answer.time">Time</span></dt>
                <dd>
                    <span>{{ answer.time }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.answer.score">Score</span></dt>
                <dd>
                    <div *ngIf="answer.score">
                        <a [routerLink]="['/score', answer.score?.id, 'view']">{{ answer.score?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
