<div>
    <h2 id="page-heading">
        <span jhiTranslate="guessMyCategoryApp.answer.home.title">Answers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer" [routerLink]="['/answer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="guessMyCategoryApp.answer.home.createLabel">
            Create a new Answer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="answers?.length === 0">
        <span jhiTranslate="guessMyCategoryApp.answer.home.notFound">No answers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="answers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.answer.dateCreated">Date Created</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.answer.player">Player</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.answer.keywords">Keywords</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.answer.tags">Tags</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.answer.optionalImages">Optional Images</span></th>
                    <th scope="col" ><span jhiTranslate="guessMyCategoryApp.answer.actors">Actors</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let answer of answers ;trackBy: trackId">
                    <td><a [routerLink]="['/answer', answer.id, 'view']">{{ answer.id }}</a></td>
                    <td>{{ answer.dateCreated | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="answer.player">
                            <a [routerLink]="['/player', answer.player?.id, 'view']" >{{ answer.player?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="answer.keywords">
                            <a [routerLink]="['/keyword', answer.keywords?.id, 'view']" >{{ answer.keywords?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="answer.tags">
                            <a [routerLink]="['/tag', answer.tags?.id, 'view']" >{{ answer.tags?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="answer.optionalImages">
                            <a [routerLink]="['/optional-image', answer.optionalImages?.id, 'view']" >{{ answer.optionalImages?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="answer.actors">
                            <a [routerLink]="['/actor', answer.actors?.id, 'view']" >{{ answer.actors?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/answer', answer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/answer', answer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(answer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
