<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span jhiTranslate="guessMyCategoryApp.answer.detail.title">Answer</span> {{ answer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guessMyCategoryApp.answer.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ answer.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.answer.player">Player</span></dt>
                <dd>
                    <div *ngIf="answer.player">
                        <a [routerLink]="['/player', answer.player?.id, 'view']">{{ answer.player?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.answer.keywords">Keywords</span></dt>
                <dd>
                    <div *ngIf="answer.keywords">
                        <a [routerLink]="['/keyword', answer.keywords?.id, 'view']">{{ answer.keywords?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.answer.tags">Tags</span></dt>
                <dd>
                    <div *ngIf="answer.tags">
                        <a [routerLink]="['/tag', answer.tags?.id, 'view']">{{ answer.tags?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.answer.optionalImages">Optional Images</span></dt>
                <dd>
                    <div *ngIf="answer.optionalImages">
                        <a [routerLink]="['/optional-image', answer.optionalImages?.id, 'view']">{{ answer.optionalImages?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.answer.actors">Actors</span></dt>
                <dd>
                    <div *ngIf="answer.actors">
                        <a [routerLink]="['/actor', answer.actors?.id, 'view']">{{ answer.actors?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
