<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="optionalImage">
            <h2><span jhiTranslate="guessMyCategoryApp.optionalImage.detail.title">Optional Image</span> {{ optionalImage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guessMyCategoryApp.optionalImage.link">Link</span></dt>
                <dd>
                    <span>{{ optionalImage.link }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/optional-image', optionalImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
