<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="score">
            <h2><span jhiTranslate="guessMyCategoryApp.score.detail.title">Score</span> {{ score.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guessMyCategoryApp.score.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ score.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.score.answerTimeAvg">Answer Time Avg</span></dt>
                <dd>
                    <span>{{ score.answerTimeAvg }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.score.correctAnswer">Correct Answer</span></dt>
                <dd>
                    <span>{{ score.correctAnswer }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.score.propositionTotal">Proposition Total</span></dt>
                <dd>
                    <span>{{ score.propositionTotal }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/score', score.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
