<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-score-heading" jhiTranslate="guessMyCategoryApp.score.home.createOrEditLabel">Create or edit a Score</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.score.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="input-group">
                        <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker #dateCreatedDp="ngbDatepicker" formControlName="dateCreated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateCreated')!.invalid && (editForm.get('dateCreated')!.dirty || editForm.get('dateCreated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreated')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.score.answerTimeAvg" for="field_answerTimeAvg">Answer Time Avg</label>
                    <input type="number" class="form-control" name="answerTimeAvg" id="field_answerTimeAvg"
                           formControlName="answerTimeAvg"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.score.correctAnswer" for="field_correctAnswer">Correct Answer</label>
                    <input type="number" class="form-control" name="correctAnswer" id="field_correctAnswer"
                           formControlName="correctAnswer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.score.propositionTotal" for="field_propositionTotal">Proposition Total</label>
                    <input type="number" class="form-control" name="propositionTotal" id="field_propositionTotal"
                           formControlName="propositionTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.score.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.score.session" for="field_session">Session</label>
                    <select class="form-control" id="field_session" name="session" formControlName="session">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sessionOption.id === editForm.get('session')!.value?.id ? editForm.get('session')!.value : sessionOption" *ngFor="let sessionOption of sessions; trackBy: trackById">{{ sessionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
