<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-video-heading" jhiTranslate="guessMyCategoryApp.video.home.createOrEditLabel">Create or edit a Video</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.iframe" for="field_iframe">Iframe</label>
                    <input type="text" class="form-control" name="iframe" id="field_iframe"
                           formControlName="iframe"/>
                    <div *ngIf="editForm.get('iframe')!.invalid && (editForm.get('iframe')!.dirty || editForm.get('iframe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('iframe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                    <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('duration')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('duration')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.view" for="field_view">View</label>
                    <input type="number" class="form-control" name="view" id="field_view"
                           formControlName="view"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.like" for="field_like">Like</label>
                    <input type="number" class="form-control" name="like" id="field_like"
                           formControlName="like"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.dislike" for="field_dislike">Dislike</label>
                    <input type="number" class="form-control" name="dislike" id="field_dislike"
                           formControlName="dislike"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.dateCreated" for="field_dateCreated">Date Created</label>
                    <div class="input-group">
                        <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" ngbDatepicker #dateCreatedDp="ngbDatepicker" formControlName="dateCreated"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateCreated')!.invalid && (editForm.get('dateCreated')!.dirty || editForm.get('dateCreated')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreated')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="guessMyCategoryApp.video.optionalImages" for="field_optionalImages">Optional Images</label>
                    <select class="form-control" id="field_optionalImages" name="optionalImages" formControlName="optionalImages">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="optionalImageOption.id === editForm.get('optionalImages')!.value?.id ? editForm.get('optionalImages')!.value : optionalImageOption" *ngFor="let optionalImageOption of optionalimages; trackBy: trackById">{{ optionalImageOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="guessMyCategoryApp.video.actors" for="field_actors">Actors</label>
                    <select class="form-control" id="field_actors" multiple name="actors" formControlName="actors">
                        <option [ngValue]="getSelected(editForm.get('actors')!.value, actorOption)" *ngFor="let actorOption of actors; trackBy: trackById">{{ actorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="guessMyCategoryApp.video.keywords" for="field_keywords">Keywords</label>
                    <select class="form-control" id="field_keywords" multiple name="keywords" formControlName="keywords">
                        <option [ngValue]="getSelected(editForm.get('keywords')!.value, keywordOption)" *ngFor="let keywordOption of keywords; trackBy: trackById">{{ keywordOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="guessMyCategoryApp.video.tags" for="field_tags">Tags</label>
                    <select class="form-control" id="field_tags" multiple name="tags" formControlName="tags">
                        <option [ngValue]="getSelected(editForm.get('tags')!.value, tagOption)" *ngFor="let tagOption of tags; trackBy: trackById">{{ tagOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
