<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="video">
            <h2><span jhiTranslate="guessMyCategoryApp.video.detail.title">Video</span> {{ video.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="guessMyCategoryApp.video.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ video.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.iframe">Iframe</span></dt>
                <dd>
                    <span>{{ video.iframe }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.title">Title</span></dt>
                <dd>
                    <span>{{ video.title }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.duration">Duration</span></dt>
                <dd>
                    <span>{{ video.duration }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.view">View</span></dt>
                <dd>
                    <span>{{ video.view }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.like">Like</span></dt>
                <dd>
                    <span>{{ video.like }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.dislike">Dislike</span></dt>
                <dd>
                    <span>{{ video.dislike }}</span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.optionalImages">Optional Images</span></dt>
                <dd>
                    <div *ngIf="video.optionalImages">
                        <a [routerLink]="['/optional-image', video.optionalImages?.id, 'view']">{{ video.optionalImages?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.actors">Actors</span></dt>
                <dd>
                    <span *ngFor="let actors of video.actors; let last = last">
                        <a [routerLink]="['/actor', actors?.id, 'view']">{{ actors.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.keywords">Keywords</span></dt>
                <dd>
                    <span *ngFor="let keywords of video.keywords; let last = last">
                        <a [routerLink]="['/keyword', keywords?.id, 'view']">{{ keywords.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="guessMyCategoryApp.video.tags">Tags</span></dt>
                <dd>
                    <span *ngFor="let tags of video.tags; let last = last">
                        <a [routerLink]="['/tag', tags?.id, 'view']">{{ tags.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/video', video.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
